.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  padding: 2.5rem;
  width: 600px;
}

.header {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  padding-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  opacity: 0.8;
  color: #fff;
  cursor: pointer;
  transition: opacity 400ms ease-in-out;
}

.btn:hover {
  opacity: 1;
}

.error {
  color: red;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.redirectText {
  margin-top: 1rem;
  border-top: var(--border);
  padding-top: 1rem;
}

.redirectTextLink {
  color: var(--primary-color);
  cursor: pointer;
  margin-top: 1rem;
  border-top: var(--border);
  padding-top: 1rem;
  text-decoration: underline;
}

.logo_link {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logo {
  max-width: 80px;
  object-fit: cover;
}
