.confirmation_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  top: 0;
  left: 0;
}

.confirmation_box {
  width: fit-content;
  padding: 1.5rem;
  background-color: var(--white-color);
  border-radius: var(--small-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation_header {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  border-bottom: var(--border);
  padding-bottom: 1rem;
}

.confirmation_btn_container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.confirmation_confirm_btn {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: all 400ms ease-in-out;
  color: var(--primary-color);
  font-size: 0.8rem;
  background-color: var(--primary-color);
  color: #fff;
  opacity: 0.8;
}

.confirmation_confirm_btn:hover {
  opacity: 1;
}

.confirmation_cancel_btn {
  padding: 0.5rem;
  border: 1px solid var(--black-color);
  border-radius: var(--small-border-radius);
  color: var(--black-color);
  cursor: pointer;
  transition: all 400ms ease-in-out;
  font-size: 0.8rem;
  opacity: 0.8;
}

.confirmation_cancel_btn:hover {
  opacity: 1;
}

.confirmation_cancel_btn:hover {
  opacity: 1;
}
