.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
j .header {
  font-size: 3.5rem;
}

.subtitle {
  border-top: var(--border);
  padding-top: 1rem;
}
