.users_container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 1rem;
}

.users_header {
  font-size: 1.5rem;
  font-weight: 600;
}

.users_topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.users_add_btn_container {
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--primary-color);
  border: var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.users_add_btn {
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.users_add_icon {
  width: 100%;
  object-fit: contain;
}

.users_add_btn_txt {
  margin: 0 0.5rem;
}

.users_box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  top: 0;
  left: 0;
}

.users_box_container {
  width: 50%;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

.users_box_topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: var(--border);
  padding-bottom: 1rem;
}

.users_box_header {
  font-size: 1.5rem;
  font-weight: 600;
}

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 0.5rem;
  padding: 1rem;
}

.input {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.item_values {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  width: fit-content;
}

.remove {
  background-color: var(--light-black-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.4rem;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  margin-top: 1rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}
