.view_metric_box {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 1rem;
}

.view_metric_topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.view_metric_box_header {
  font-size: 1rem;
  font-weight: 600;
}

.view_metric_add_btn {
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
}

.view_metric_add_icon {
  width: 100%;
  object-fit: contain;
}
