body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  letter-spacing: 1px;
  font-family: var(--font-style);
}

:root {
  --primary-color: #0866ff;
  --white-color: #fff;
  --black-color: #000;
  --light-black-color: #bbb;
  --red-color: #ff0000;
  --border-radius: 12px;
  --small-border-radius: 8px;
  --border: 1px solid #ddd;
  --primary-color-border: 1px solid #0866ff;
  --font-style: "Adalytics-sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--white-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--light-black-color);
  border-radius: 10px;
}

@font-face {
  font-family: "Adalytics-sans";
  src: url("../public/DMSans_18pt-Regular.ttf") format("truetype");
}
